gdal
awscli
numpy
pandas
requests
s3transfer
scipy
pandas
fiona
rtree
shapely
sqlalchemy
geopandas
psycopg2-binary
GeoAlchemy2
geopy
pydeck
pyshp
folium
jupyterlab
openpyxl
python-dotenv
python-decouple
django-environ
luigi
workdays
leafmap

